APP_ENV=DEVELOPMENT
APP_PORT=4000

DATABASE_URL=postgres://postgres:postgres@localhost:5432/gowir_db?sslmode=disable

# Generate with: openssl rand -base64 32
NC_AUTH_JWT_SECRET=super_secret_jwt_key_please_change_in_production
NOCODB_PORT=8080

LOG_LEVEL=DEBUG